In [43]:
import os
import sys
import pickle
import logging

import numpy as np
import pandas as pd

import context
from titanic.data.etl import ETL
from titanic.features.preprocessing import Preprocessing
from titanic.features.feature_config import CONFIG

%load_ext autoreload
%autoreload 2

LOGGER = logging.getLogger(__name__)
LOGGER.setLevel(logging.DEBUG)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
etl = ETL()
data = etl.data
data.head()

preprocessing = Preprocessing(config=CONFIG, data=data)
foo = preprocessing.data
foo.head()

   pclass     sex   age     fare   age_bin embarked  survived
0       3    male  22.0   7.2500  (20, 30]        S         0
1       1  female  38.0  71.2833  (30, 40]        C         1
2       3  female  26.0   7.9250  (20, 30]        S         1
3       1  female  35.0  53.1000  (30, 40]        S         1
4       3    male  35.0   8.0500  (30, 40]        S         0